<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos da Formação Spring</title>
</head>
<body>
   <h1>Lista de Cursos</h1>
   
   <table>
	   <thead>
		   <tr>
			   <th>Nome do Curso</th>
			   <th>Autor do Curso</th>
			   <th>Carga Horária</th>
		   </tr>
	   </thead>
	   <tbody>
		   <tr th:each="curso : ${cursos}">
			   <td th:text="${curso.nome}"></td>
			   <td th:text="${curso.autor}"></td>
			   <td th:text="${curso.cargaHoraria}"></td>
		   </tr>
	   </tbody>
   </table> 
</body>
</html>